.admin {
    border: 1px solid black;
    width: 90%;
    height: 700px;
    margin: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-back-user{
    position: absolute;
    top: 20px;
    left: 20px;
}